   <div class="row" id= "partial">
        <div class="col-xs-4 col-sm-3"><a name="contact" ></a><h3 id = "cont">Kontakt</h3></div>
        <div class="col-xs-4 col-sm-6">
        
         <%= simple_form_for @message do |f| %> 
  <%= f.input :name, label: false, placeholder: "E-mail lub telefon", :input_html => {:maxlength => 15, :size => 60}  %>
  <br>
  <%= f.input :text, label: false, placeholder: "Wiadomość", :input_html => {:rows =>4, :cols =>60} %>
  <%= f.button :submit, "Wyślij wiadomość", class: "btn btn-primary" %>
<% end %>
         

        
        




     


        </div>


      </div>